<a href="https://colab.research.google.com/github/programmingconsole/Python_Data_Analytics/blob/main/All_in_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#basic arithamatic operation variable alredy declared and not input

a=10
b=22
sum=a+b
sub=a-b
multi=a*b
div=a/b
module=a%b

print(sum)
print(sub)
print(multi)
print(div)
print(module)

print(f"sum={sum},sub={sub}")

32
-12
220
0.45454545454545453
10
sum=32,sub=-12

In [5]:
#Basic arithabatic operation with input value

c=int(input('Enter the first Value'))
b=int(input('Enter the secont Value'))

sum=(c+b)
sub=(c-b)
multi=(c*b)
div=(c/b)
module=(c%b)

print(f"sum={sum},sub={sub},multi={multi},div={div},module={module}")

Enter the first Value30
Enter the secont Value40
sum=70,sub=-10,multi=1200,div=0.75,module=30

In [1]:
#List

data=['name',1,25]
print(data)

loopdata=[i for i in range(10)] #normal number

print(loopdata)

evloop=[j for j in range(10) if j%2==0] #even number
print(evloop)

odloop=[k for k in range(10) if k%2!=0] #odd number
print(odloop)

ls=[m for m in range(0,50,2)] #multipy

print('is list',ls)

for mm in ls:
  print('is loop ffrom for',mm)

['name', 1, 25]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
is list [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
is loop ffrom for 0
is loop ffrom for 2
is loop ffrom for 4
is loop ffrom for 6
is loop ffrom for 8
is loop ffrom for 10
is loop ffrom for 12
is loop ffrom for 14
is loop ffrom for 16
is loop ffrom for 18
is loop ffrom for 20
is loop ffrom for 22
is loop ffrom for 24
is loop ffrom for 26
is loop ffrom for 28
is loop ffrom for 30
is loop ffrom for 32
is loop ffrom for 34
is loop ffrom for 36
is loop ffrom for 38
is loop ffrom for 40
is loop ffrom for 42
is loop ffrom for 44
is loop ffrom for 46
is loop ffrom for 48

In [37]:
from os import name
#Dictionary

dict={'name':'Shahal','age':25,'department':'cs'}

print(dict['name'])

print(dict.items())

print(dict.keys())

print(dict.values())

print(dict.get('age'))

listd=[dict.values()]
print(listd)

for i in dict:
  print(i)
  print(f"{i} is {dict[i]}")

print('multi dict started')

multidicts={'name':['shalu','sha','abc'],'age':[23,25,26]}

print(multidicts['name'][1])

for i,j in zip(multidicts['name'],multidicts['age']):
  print(f"Multidict values  : Name is {i} and Age is {j}")

Shahal
dict_items([('name', 'Shahal'), ('age', 25), ('department', 'cs')])
dict_keys(['name', 'age', 'department'])
dict_values(['Shahal', 25, 'cs'])
25
[dict_values(['Shahal', 25, 'cs'])]
name
name is Shahal
age
age is 25
department
department is cs
multi dict started
sha
Multidict values  : Name is shalu and Age is 23
Multidict values  : Name is sha and Age is 25
Multidict values  : Name is abc and Age is 26

In [40]:
#Controlers for and if

for i in range(10):
  if i==0:
    print('zero')
  elif (i%2==0):
    print(i,'is even')
  else:
    print(i,'is odd')

zero
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [49]:
#while and if


count=1
while(count<=10):
  print(count)

  if (count==5):
    break
  else:
    count+=1

1
2
3
4
5

In [64]:
def add():
  num1=10
  num2=20
  total=num1+num2
  print("No argument no retun value just print",total)

add()


def added(num3,num4):
  added=num3+num4
  print('Function with argument not retun value',added)

added(100,200)

def adds():
  num7=300
  num8=400
  summed=num7+num8
  return summed

print('Function without argument and with return value',adds())


def adding(num5,num6):
  adding=num5+num6
  return adding

print('Function with both argument and retunvalue',adding(1000,2000))

No argument no retun value just print 30
Function with argument not retun value 300
Function without argument and with return value 700
Function with both argument and retunvalue 3000

In [89]:
#Classes

class student():
  def __init__(self,age,department):
    self.age=age
    self.department=department
    print(f'class started and age added {age} and dep {self.department}')
  def details(self,name):
    self.name=name
    dep=self.department
    print(f"Student name is {name} and age {self.age} and dep is {dep}")
  def check(self):
    print(f'checked function from details {self.name} and from init {self.department}')


stud1=student(23,'cs')
stud1.details('shalu')
stud1.check()

stud2=student(24,'bca')
stud2.details('sha')

class started and age added 23 and dep cs
Student name is shalu and age 23 and dep is cs
checked function from details shalu and from init cs
class started and age added 24 and dep bca
Student name is sha and age 24 and dep is bca