<a href="https://colab.research.google.com/github/programmingconsole/Python_Data_Analytics/blob/main/pyex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35],
        'City': ['New York', 'London', 'Paris', 'Tokyo'],
        'edu':['degree','degree','degree','degree']}
df = pd.DataFrame(data)
filtered_df = df[df['Age'] > 25]
   #To see the output, run the code.
print(data)
print(df)

{'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [25, 30, 22, 35], 'City': ['New York', 'London', 'Paris', 'Tokyo'], 'edu': ['degree', 'degree', 'degree', 'degree']}
      Name  Age      City     edu
0    Alice   25  New York  degree
1      Bob   30    London  degree
2  Charlie   22     Paris  degree
3    David   35     Tokyo  degree

In [ ]:
dic={'name':"shalu",'age':25,'department':"CS"}
print(dic)
print(dic['name'])

{'name': 'shalu', 'age': 25, 'department': 'CS'}
shalu