<a href="https://colab.research.google.com/github/programmingconsole/Python_Data_Analytics/blob/main/pyex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
from datasets import load_dataset
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35],
        'City': ['New York', 'London', 'Paris', 'Tokyo'],
        'edu':['degree','degree','degree','degree']}
datasets=load_dataset('lukebarousse/data_jobs')
datas=datasets['train'].to_pandas()
# Create a DataFrame from the dictionary
df = pd.DataFrame(data)
filtered_df = df[df['Age'] > 25]
   #To see the output, run the code.
print(data)
print(df)

print(datas)

{'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [25, 30, 22, 35], 'City': ['New York', 'London', 'Paris', 'Tokyo'], 'edu': ['degree', 'degree', 'degree', 'degree']}
      Name  Age      City     edu
0    Alice   25  New York  degree
1      Bob   30    London  degree
2  Charlie   22     Paris  degree
3    David   35     Tokyo  degree
             job_title_short  \
0       Senior Data Engineer
1               Data Analyst
2              Data Engineer
3              Data Engineer
4              Data Engineer
...                      ...
785736     Software Engineer
785737          Data Analyst
785738      Business Analyst
785739         Data Engineer
785740     Software Engineer

                                                job_title  \
0       Senior Clinical Data Engineer / Principal Clin...
1                                            Data Analyst
2       Data Engineer/Scientist/Analyst, Mid or Senior...
3       LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...
4                                  Data Engineer- Sr Jobs
...                                                   ...
785736                                    DevOps Engineer
785737                                   CRM Data Analyst
785738                     Commercial Analyst - Start Now
785739  Principal Associate, Data Engineer (Remote-Eli...
785740                                 AWS System Analyst

                               job_location                    job_via  \
0                             Watertown, CT            via Work Nearby
1              Guadalajara, Jalisco, Mexico           via BeBee México
2                           Berlin, Germany               via LinkedIn
3                           San Antonio, TX          via Diversity.com
4                            Washington, DC         via Clearance Jobs
...                                     ...                        ...
785736                            Singapura        melalui Trabajo.org
785737                   Bad Rodach, Jerman  melalui BeBee Deutschland
785738                             Malaysia           melalui Ricebowl
785739  Newark, New Jersey, Amerika Serikat        melalui Recruit.net
785740                                India             melalui Trigyn

       job_schedule_type  job_work_from_home       search_location  \
0              Full-time               False  Texas, United States
1              Full-time               False                Mexico
2              Full-time               False               Germany
3              Full-time               False  Texas, United States
4              Full-time               False                 Sudan
...                  ...                 ...                   ...
785736   Pekerjaan tetap               False             Singapore
785737   Pekerjaan tetap               False               Germany
785738   Pekerjaan tetap               False              Malaysia
785739   Pekerjaan tetap               False                 Sudan
785740   Pekerjaan tetap               False                 India

            job_posted_date  job_no_degree_mention  job_health_insurance  \
0       2023-06-16 13:44:15                  False                 False
1       2023-01-14 13:18:07                  False                 False
2       2023-10-10 13:14:55                  False                 False
3       2023-07-04 13:01:41                   True                 False
4       2023-08-07 14:29:36                  False                 False
...                     ...                    ...                   ...
785736  2023-03-13 06:16:16                  False                 False
785737  2023-03-12 06:18:18                  False                 False
785738  2023-03-12 06:32:36                  False                 False
785739  2023-03-12 06:32:15                  False                 False
785740  2023-03-13 06:16:31                  False                 False

          job_country salary_rate  salary_year_avg  salary_hour_avg  \
0       United States        None              NaN              NaN
1              Mexico        None              NaN              NaN
2             Germany        None              NaN              NaN
3       United States        None              NaN              NaN
4               Sudan        None              NaN              NaN
...               ...         ...              ...              ...
785736      Singapore        None              NaN              NaN
785737        Germany        None              NaN              NaN
785738       Malaysia        None              NaN              NaN
785739          Sudan        None              NaN              NaN
785740          India        None              NaN              NaN

                              company_name  \
0                     Boehringer Ingelheim
1               Hewlett Packard Enterprise
2                 ALPHA Augmented Services
3             Southwest Research Institute
4                          Kristina Daniel
...                                    ...
785736  CAREERSTAR INTERNATIONAL PTE. LTD.
785737                    HABA FAMILYGROUP
785738               Lendlease Corporation
785739                         Capital One
785740                              Trigyn

                                               job_skills  \
0                                                    None
1       ['r', 'python', 'sql', 'nosql', 'power bi', 't...
2       ['python', 'sql', 'c#', 'azure', 'airflow', 'd...
3       ['python', 'c++', 'java', 'matlab', 'aws', 'te...
4       ['bash', 'python', 'oracle', 'aws', 'ansible',...
...                                                   ...
785736  ['bash', 'python', 'perl', 'linux', 'unix', 'k...
785737                     ['sas', 'sas', 'sql', 'excel']
785738                            ['powerpoint', 'excel']
785739  ['python', 'go', 'nosql', 'sql', 'mongo', 'she...
785740                                    ['aws', 'flow']

                                          job_type_skills
0                                                    None
1       {'analyst_tools': ['power bi', 'tableau'], 'pr...
2       {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3       {'cloud': ['aws'], 'libraries': ['tensorflow',...
4       {'cloud': ['oracle', 'aws'], 'other': ['ansibl...
...                                                   ...
785736  {'os': ['linux', 'unix'], 'other': ['kubernete...
785737  {'analyst_tools': ['sas', 'excel'], 'programmi...
785738         {'analyst_tools': ['powerpoint', 'excel']}
785739  {'cloud': ['aws', 'snowflake', 'azure', 'redsh...
785740              {'cloud': ['aws'], 'other': ['flow']}

[785741 rows x 17 columns]

In [21]:
df.info()

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
 3   edu     4 non-null      object
dtypes: int64(1), object(3)
memory usage: 260.0+ bytes

             Age
count   4.000000
mean   28.000000
std     5.715476
min    22.000000
25%    24.250000
50%    27.500000
75%    31.250000
max    35.000000

In [ ]:
dic={'name':"shalu",'age':25,'department':"CS"}
print(dic)
print(dic['name'])

{'name': 'shalu', 'age': 25, 'department': 'CS'}
shalu

In [22]:
!pip install datasets

Collecting datasets
  Downloading datasets-3.5.0-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from datasets) (3.18.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.11/dist-packages (from datasets) (2.0.2)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.11/dist-packages (from datasets) (18.1.0)
Collecting dill<0.3.9,>=0.3.0 (from datasets)
  Downloading dill-0.3.8-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from datasets) (2.2.2)
Requirement already satisfied: requests>=2.32.2 in /usr/local/lib/python3.11/dist-packages (from datasets) (2.32.3)
Requirement already satisfied: tqdm>=4.66.3 in /usr/local/lib/python3.11/dist-packages (from datasets) (4.67.1)
Collecting xxhash (from datasets)
  Downloading xxhash-3.5.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Collecting multiprocess<0.70.17 (from datasets)
  Downloading multiprocess-0.70.16-py311-none-any.whl.metadata (7.2 kB)
Collecting fsspec<=2024.12.0,>=2023.1.0 (from fsspec[http]<=2024.12.0,>=2023.1.0->datasets)
  Downloading fsspec-2024.12.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.11/dist-packages (from datasets) (3.11.15)
Requirement already satisfied: huggingface-hub>=0.24.0 in /usr/local/lib/python3.11/dist-packages (from datasets) (0.30.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from datasets) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.11/dist-packages (from datasets) (6.0.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (6.3.2)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (0.3.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (1.18.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub>=0.24.0->datasets) (4.13.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (2025.1.31)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.17.0)
Downloading datasets-3.5.0-py3-none-any.whl (491 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 491.2/491.2 kB 9.3 MB/s eta 0:00:00
Downloading dill-0.3.8-py3-none-any.whl (116 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 10.8 MB/s eta 0:00:00
Downloading fsspec-2024.12.0-py3-none-any.whl (183 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 183.9/183.9 kB 12.4 MB/s eta 0:00:00
Downloading multiprocess-0.70.16-py311-none-any.whl (143 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.5/143.5 kB 12.6 MB/s eta 0:00:00
Downloading xxhash-3.5.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (194 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.8/194.8 kB 16.7 MB/s eta 0:00:00
Installing collected packages: xxhash, fsspec, dill, multiprocess, datasets
  Attempting uninstall: fsspec
    Found existing installation: fsspec 2025.3.2
    Uninstalling fsspec-2025.3.2:
      Successfully uninstalled fsspec-2025.3.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
torch 2.6.0+cu124 requires nvidia-cublas-cu12==12.4.5.8; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cublas-cu12 12.5.3.2 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cuda-cupti-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-cupti-cu12 12.5.82 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cuda-nvrtc-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-nvrtc-cu12 12.5.82 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cuda-runtime-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-runtime-cu12 12.5.82 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cudnn-cu12==9.1.0.70; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cudnn-cu12 9.3.0.75 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cufft-cu12==11.2.1.3; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cufft-cu12 11.2.3.61 which is incompatible.
torch 2.6.0+cu124 requires nvidia-curand-cu12==10.3.5.147; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-curand-cu12 10.3.6.82 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cusolver-cu12==11.6.1.9; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cusolver-cu12 11.6.3.83 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cusparse-cu12==12.3.1.170; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cusparse-cu12 12.5.1.3 which is incompatible.
torch 2.6.0+cu124 requires nvidia-nvjitlink-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-nvjitlink-cu12 12.5.82 which is incompatible.
gcsfs 2025.3.2 requires fsspec==2025.3.2, but you have fsspec 2024.12.0 which is incompatible.
Successfully installed datasets-3.5.0 dill-0.3.8 fsspec-2024.12.0 multiprocess-0.70.16 xxhash-3.5.0

In [28]:
datas.describe()

datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  object
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 86.2+ MB

In [35]:
datas.groupby('job_title_short')['salary_year_avg'].median()

datas.groupby('job_title_short')['salary_year_avg'].agg(['min','max'])

                               min       max
job_title_short
Business Analyst           16500.0  387460.0
Cloud Engineer             42000.0  280000.0
Data Analyst               25000.0  650000.0
Data Engineer              15000.0  525000.0
Data Scientist             27000.0  960000.0
Machine Learning Engineer  30000.0  325000.0
Senior Data Analyst        30000.0  425000.0
Senior Data Engineer       35000.0  425000.0
Senior Data Scientist      45000.0  890000.0
Software Engineer          28000.0  375000.0

In [40]:
datas.groupby(['job_title_short','job_country'])[['salary_year_avg','salary_hour_avg']].median()

                               salary_year_avg  salary_hour_avg
job_title_short   job_country
Business Analyst  Afghanistan              NaN              NaN
                  Albania                  NaN              NaN
                  Algeria                  NaN              NaN
                  Angola                   NaN              NaN
                  Argentina            71100.0              NaN
...                                        ...              ...
Software Engineer Venezuela                NaN              NaN
                  Vietnam              53600.0              NaN
                  Yemen                    NaN              NaN
                  Zambia                   NaN              NaN
                  Zimbabwe                 NaN              NaN

[1387 rows x 2 columns]

In [34]:
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  object
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 86.2+ MB