<a href="https://colab.research.google.com/github/programmingconsole/Python_Data_Analytics/blob/main/worktest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
li=[1,2,3,4,5,6]

def lical(num):
  num=num+1
  return num

result=map(lical,li)

print(list(result))

[2, 3, 4, 5, 6, 7]

In [24]:

value=map(lambda x:x+1,li)
print(list(value))

[2, 3, 4, 5, 6, 7]

In [40]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
for m,n in person.items():
  print(m,n)

name ['Alice', 'dan']
age 30
city New York

In [25]:
dict={nme:"value" for nme in range(10)}
print(dict)

{0: 'value', 1: 'value', 2: 'value', 3: 'value', 4: 'value', 5: 'value', 6: 'value', 7: 'value', 8: 'value', 9: 'value'}

In [135]:
people = {
    "alice": {
        "age": 30,
        "city": "New York"
    },
    "bob": {
        "age": 25,
        "city": "London"
    },
    "charlie": {
        "age": 35,
        "city": "Delhi"
    }
}
for m,n in people.items():
  for i,j in  n.items():
    print(f"Name is {m} and Age = {i},City={j}")

Name is alice and Age = age,City=30
Name is alice and Age = city,City=New York
Name is bob and Age = age,City=25
Name is bob and Age = city,City=London
Name is charlie and Age = age,City=35
Name is charlie and Age = city,City=Delhi

In [138]:

for name, info in people.items():
    print(f"Name is {name}, Age = {info['age']}, City = {info['city']}")

Name is alice, Age = 30, City = New York
Name is bob, Age = 25, City = London
Name is charlie, Age = 35, City = Delhi

In [140]:
print(name)

print (info)

charlie
{'age': 35, 'city': 'Delhi'}

In [104]:
for m in people.keys():
  print(m)

alice
bob
charlie

In [147]:
for v in people.values():
  print(v["city"])

New York
London
Delhi

In [146]:
for ii in people.items():
  print(ii)

('alice', {'age': 30, 'city': 'New York'})
('bob', {'age': 25, 'city': 'London'})
('charlie', {'age': 35, 'city': 'Delhi'})

In [120]:
for t in people.keys():
  print(t)

alice
bob
charlie

In [126]:
print(people['alice'])

print(t.items())
print(t.values())

{'age': 30, 'city': 'New York'}
dict_items([('age', 35), ('city', 'Delhi')])
dict_values([35, 'Delhi'])